#{extends 'main.html' /}
#{set title:'Home' /}

Hello ${name}! welcome to play
<br>
<a id="logout" class="pull-right" href="@{Application.logout}">Logout</a>
<a id="addcontact" href="@{Contacts.contactform}">Add Contact</a>

 <h2>All Your Contacts</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Contact Name</th>
        <th>Birth Date</th>
        <th>Reminder(in Hours)</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        #{list items:contacts, as:'contact'}
        <tr>
            <td>${contact.name} </td>
            <td>${contact.bday_date} </td>
            <td>${contact.email_before_bday_hours} </td>
            <td><a href="@{Contacts.editcontactform}/${contact.id}">Edit</a></td>
            <td><a href="@{Contacts.deletecontact}/${contact.id}">Delete</a></td>
        </tr>
        #{/list}
    </tbody>
  </table>

