#{extends 'main.html' /}
#{set title:'Home' /}

Hello ${name}! welcome to play
<a id="logout" href="@{Application.logout}">Logout</a>
<a id="logout" href="@{Users.home}">View all Contacts</a>

<form method= "post" action="@{Contacts.updateContact}">
    <label>Name</label>
    <input type="text" name="contact_name" value="${flash.edit_contact_name}" />
    <label>Date</label>
    <input type="date" name="bday_date" value="${flash.edit_contact_bday_date}" />
    <label>How many hours before birth day, you want to be reminded?</label>
    <input type="number" name="reminder_before_bday" value="${flash.edit_contact_email_before_bday_hours}" />
    <input type="hidden" name="contact_id" value="${flash.edit_contact_id}" />
    <input type="submit" name="Submit" id="addcontact"/>
</form>