#{extends 'main.html' /}
#{set title:'Login Page' /}

#{if flash.error}

<p>${flash.error}</p>

#{/if}
<h2>Login</h2>
<form class="form" method= "post" action="@{Application.validate}">
     <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" name="email" class="form-control" required/>
     </div>
   
     <div class="form-group">
           <label for="pwd">Password:</label>
          <input type="password" name="password"  class="form-control" required/>
     </div>
    <button type="submit" class="btn btn-default" id="login">Submit</button> OR
    <a href="@{Application.register}" class="btn btn-default" id="login">Register</a>
</form>