#{extends 'main.html' /}
#{set title:'Registration Page' /}

#{if flash.error}
<p>
    ${flash.error}
</p>

#{/if}
<h2>Register</h2>
<form class="form" method= "post" action="@{Application.registerUser}">
     <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" name="email" class="form-control" required/>
          <span class="error">#{error 'name' /}</span>
     </div>
   
     <div class="form-group">
           <label for="pwd">Password:</label>
          <input type="password" name="password"  class="form-control" required/>
          <span class="error">#{error 'name' /}</span>
     </div>
    <button type="submit" class="btn btn-default"  id="register">Submit</button> OR
    <a href="@{Application.login}" class="btn btn-default" id="login">Login</a>
</form>